.footer-main-wrap {
  background: #fbfbfb;
position: relative;
bottom: 0;
}

.footer-container-main {
  padding: 20px 30px;
  display: block;
  margin-top: auto;
}

.footer-text-wrapper > h4 {
  color: var(--Neutral-600, #6f6c90);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}

.footer-text-wrapper > h4 > span {
  font-size: 16px;
}

@media screen and (max-width:768px) {
    .footer-text-wrapper > h4 {
        text-align: center;
    }    
   
}
